<br>
<h2>Employee</h2>
<p>
  <a href="/employee/create">create</a>

</p>
<table class="table">
  
  <tr>
    <th>Employee id</th>
    <th>Employee name</th>
    <th>Designation</th>
    <th>Manager id</th>
    <th>Contact no</th>
    <th>Email id</th>
    <th>Skillsets</th>
    
  </tr>

  <tr *ngFor="let emp of employees">
  <td>{{emp.employee_id}}</td>
    <td>{{emp.employee_name}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.manager_id}}</td>
          <td>{{emp.contact_no}}</td>
            <td>{{emp.email_id}}</td>
              <td>{{emp.skillsets}}</td>
              <td><a href="/employee/edit/{{emp.employee_id}}">Edit</a></td>
              <td><a href="/employee/delete/{{emp.employee_id}}">Delete</a></td>
            </tr>


</table>
